body {
  background-color: #094EA8 !important;
  font-family: 'Roboto', sans-serif !important;
}

.logo {
  img {
    margin-top: 10rem;
    width: 200px;
  }
}

.box {
  width: 35rem;
  height: 30rem;
  background-color: #fff;
  margin: 4rem auto 12rem auto;
  border-radius: 5px;
  /* Allow the child to be place with absolute position */
  position: relative;

  #mc_embed_signup {
    position: absolute;
    top: 50%; /* center vertically */
    left: 50%; /* center horizontally */
    transform: translateY(-50%) translateX(-50%); /* correct the possition */
    width: 80%;

    .button {
      background-color: #A0C6F6;
      font-weight: 400;
    }

    .button:hover {
      background-color: #447BC1;
    }

    div.mce_inline_error {
      background-color: red;
      font-weight: 400;
    }
  }
}

.mc-field-group{
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer {
  font-size: 13px;
  color: #569BF4 !important;
}


@media all and (max-width:480px){

  .box{
    max-width: 320px;
    text-align: center;
    margin: 2rem auto;
    padding: 40px 20px;
  }
  #mc_embed_signup {
    transform: translateY(-50%) translateX(-50%);
  }
}