body {
  background-color: #094EA8 !important;
  font-family: 'Roboto', sans-serif !important; }

.logo img {
  margin-top: 10rem;
  width: 200px; }

.box {
  width: 35rem;
  height: auto;
  background-color: #fff;
  margin: 4rem auto 12rem auto;
  border-radius: 5px;
  /* Allow the child to be place with absolute position */
  position: relative; }
  .box #mc_embed_signup {
    width: 25rem;
    margin: 0 5rem 5rem;
    padding-top: 2rem; }
    .box #mc_embed_signup .button {
      background-color: #A0C6F6;
      font-weight: 400; }
    .box #mc_embed_signup .button:hover {
      background-color: #447BC1; }
    .box #mc_embed_signup div.mce_inline_error {
      background-color: red;
      font-weight: 400; }

.mc-field-group {
  font-weight: 400;
  margin-bottom: 2rem; }

.footer {
  font-size: 13px;
  color: #569BF4 !important; }

@media all and (max-width: 480px) {
  .logo img {
    margin-top: 5rem; }

  .box {
    max-width: 95%;
    margin: 2rem auto; }
    .box #mc_embed_signup {
      margin: auto; } }
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #094EA8;
  z-index: 99;
  /* stay on top */ }

.loader img {
  margin-top: 10rem;
  width: 50px; }

.typewriter-txt {
  color: white;
  font-weight: 300; }
